@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Ubuntu:wght@300;400;500;700&display=swap');

// Body

html{
    min-height: 100%;
    position: relative;
}

*{
    font-family: "Parkinsans";
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
// Mixins
@import 'mixins';





// Header

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(245,245,245);
        width: 100vw;

        img {
            height: auto;
            width: auto;
            
        }
    }

    nav{
        background-color: rgb(54, 54, 54);
        width: 100vw;
        max-height: 25vh; 

        .container{
            display: flex;
            flex-wrap: wrap;
            padding: 0px 20px;
            justify-content: center;

            ul{
                flex-wrap: wrap;
                @include myButtons;

                button{
                    font-size: larger;
                }

                #view:hover{
                    background-color: black;
                    color: white;
                }
                #normal:hover{
                    background-color: gray;
                    color: white;
                }
                #rock:hover{
                    background-color: rgb(75, 1, 1);
                    color: white;
                }
                #grass:hover{
                    background-color: green;
                    color: white;
                }
                #ghost:hover{
                    background-color: blueviolet;
                    color: white;
                }
                #dragon:hover{
                    background-color: goldenrod;
                    color: white;
                }
                #fighting:hover{
                    background-color: aquamarine;
                    color: white;
                }
                #ice:hover{
                    background-color: rgb(0, 100, 167);
                    color: white;
                }
                #water:hover{
                    background-color: aqua;
                    color: white;
                }
                #electric:hover{
                    background-color: yellow;
                    color: white;
                }
                #fire:hover{
                    background-color: rgb(255, 51, 0);
                    color: white;
                }
                #fairy:hover{
                    background-color: rgb(255, 88, 116);
                    color: white;
                }
                #bug:hover{
                    background-color: chartreuse;
                    color: white;
                }
                #fly:hover{
                    background-color: bisque;
                    
                }
                #wind:hover{
                    background-color: aliceblue;
                    
                }
                #poison:hover{
                    background-color: rgba(62, 0, 119, 0.89);
                    color: white;
                }
                #steel:hover{
                    background-color: rgb(32, 32, 32);
                    color: white;
                }
                #psichyc:hover{
                    background-color: cadetblue;
                    color: white;
                }
                #sinister:hover{
                    background-color: rgb(49, 65, 107);
                    color: white;
                }
            }
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;

    
}

footer{
    background-color: rgb(245,245,245);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1em;
        align-items: center;
        a{
            text-decoration: none;
            font-weight: bold;
        }
    }
}

main{
    background-color: rgb(245,245,245);
    width: 100vw;
    justify-content: center;
    align-items: center;

    #pokemonList{
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: inline-block;
        vertical-align: top;
        .all{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            align-items: center;
            border-top: 0;
            .pokemon{
                display: flex;
                flex-direction: column;
                border: none;
                padding: 15px;
                
            

                .pokemon-id-back{
                    font-weight: bold;
                }
                .pokemon-img{
                    img{
                        height: 10em;
                        width: 10em;
                    }
                }
                .pokemon-info{
                    display: flex;
                    flex-direction: column;

                    .container-name{
                        display: flex;

                        .pokemon-id{
                            border-radius: 15px;
                            background-color: red;
                            max-height: 30%;
                            padding: 0.2rem;
                            margin: auto;
                        }
                        
                    }
                }
            }
        }
    }
}